body{
    margin:0;
    background: rgb(255, 244, 228) ;
}

section {
    background: white;
    padding: 25px;
    border-radius: 8px;
    margin: 30px;
}
.about_left{
    flex:0.6;
}
.about_left img{
    display: block;
    margin: 40px;
    width: 400px;
}
.about_right{
    flex: 1.4;
    margin-top: 100px;
    text-align: justify;
    margin-right: 40px;
    font-size: 18px;
}
.about_content{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

h1{
    font-size: 42px;
    font-weight: 600;
    margin: 10px;
    color: rgb(186, 146, 108);
    text-align: center;
}
iframe{
    margin-top: 40px;
    width: 100%;
    height: 500px;
}