body{
    margin:0;
    background: rgb(255, 244, 228) ;
}

section {
    background: white;
    padding: 25px;
    border-radius: 8px;
    margin: 30px;
}
.about_left{
    flex:0.6;
}
.about_left img{
    display: block;
    margin: 40px;
    width: 90%;
}
.about_right{
    flex: 1.4;
    margin-top: 5%;
    text-align: justify;
    margin-right: 40px;
    font-size: 18px;
}
.about_content{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

h1{
    font-size: 42px;
    font-weight: 600;
    margin: 10px;
    color: rgb(186, 146, 108);
    text-align: center;
}
iframe{
    margin-top: 40px;
    width: 100%;
    height: 500px;
}

@media (max-width:992){
    .about_content{
        flex-direction: column;
        align-items: center;
    }
    .about_content{
        margin-top: 20px;
        margin-right: 0;
        font-size: 17px;
    }
    h1{
        font-size: 36px;
    }
    iframe{
        height:400px;
    }
}

@media(max-width:576px){
    section{
        padding:15px;
        margin:15px;
    }
    h1{
        font-size: 28px;
    }

    .about_right{
        font-size: 16px;
        text-align: left;
    }
    iframe{
        height:300px;
    }
    .about_content{
        flex-direction: column;
        align-items: center;
    }
}
