body{
    margin:0;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(247, 223, 191);
    margin: 0;
}


form {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}


.payment_column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.delivery_method,
.payment_method,
.payment {
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background-color: rgb(242, 239, 234);
    text-align: center;

    flex: 1 1 280px;
    max-width: 320px;
    width: 100%;
}


.container-achat {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit_button {
    padding: 15px 30px;
    background-color: rgb(186, 146, 108);
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
}

.submit_button:hover {
    color: rgb(83, 39, 23);
}

input:not([type="radio"]) {
    border-radius: 12px;
    padding: 10px;
    border: 1px solid #ccc;
    resize: vertical;
    font-size: 13px;
    width: 100%;
    max-width: 420px;
    display: block;
    margin: 10px auto;
    box-sizing: border-box;
}


h4 {
    color: rgb(83, 39, 23);
    font-size: 30px;
}

label:not([for="dpd"]) {
    color: rgb(186, 146, 108);
    font-size: 25px;
}

input[type="radio"] {
    width: auto;
    max-width: none;
    display: inline-block;
    margin: 0;
}

label.dpd {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;

}