body{
    background: rgb(247, 223, 191);
    margin: 0;
    height: 100vh;
}
#form {
    display: grid;
    align-items: center;
    margin:auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 50%;
    height: 40%;
    margin-bottom: 80px;
    margin-top: 80px;
}

 h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(186, 146, 108);
}
#form a{
    color: rgb(186, 146, 108);
}
#form a:hover{
    color: rgb(119, 70, 52);
}
p{
    text-align: center;
}

.grid {
    display: grid;
    gap: 15px;
    border-radius: 8px;
}

label {
    display: flex;
    flex-direction: column;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid ;
    border-radius: 8px;
    background: white;
}

input[type="email"]:focus,
input[type="password"]:focus {
    background: white;
    outline: none;
    box-shadow: 0 0 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: rgb(186,146,108);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background: rgb(222, 184,135);
}

.inscription{
    color: rgb(186, 146, 108);
    font-size: 20px;
    margin-top: 15px;
    display: block;
    text-align: center;
}
