body{
    background: rgb(255, 244, 228);
    margin: 0px;
}
section{
    display: flex;
    flex-direction: column;
    margin: 9%;
    text-align: center;
    background: white;
    border-radius: 12px;
}
h1 {
    margin: 30px;
    color: rgb(186, 146, 108);
    font-size: 50px;
    text-decoration: underline;
}

p{
    font-size:20px ;
}
ul{
    list-style: none;
}
li{
    font-size: 20px;
    text-decoration: none;
}