body{
    background: rgb(255, 244, 228);
    margin: 0px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(186, 146, 108);
}

a{
    color: rgb(185, 142, 101);
}

a:hover{
    color: rgb(119, 70, 52);
}