body{
    background: rgb(255, 244, 228);
    margin: 0px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(186, 146, 108);
    font-size: 25px;
}

strong{
    color: rgb(138, 99, 64);
    text-decoration: underline;
    font-size: 20px;
}