.page_footer html, body {
    height: 100%;
}

.page_footer body{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    padding: 0;
    margin-right: 20;
}

.page_footer a{
    color:rgb(119, 70, 52);
}

.page_footer a:hover{
    color:rgb(83, 39, 23);
}
/* .container{
    background-image: url("imagebois.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 20px; 
    color: white;              

} */
.page_footer .container{
    background-color: rgb(186, 146, 108);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
 }

.page_footer footer {
	display: flex;
	justify-content: space-between;
    align-items: center;
    margin-top: auto;
    padding: 20px;
    width :100%;
}