.page_footer html body {
    height: 100%;
}

.page_footer body{
    display: flex;
    flex-direction: column;
    padding: 0;
    width:100%;
}

.page_footer a{
    color:rgb(119, 70, 52);
    text-decoration: none;
}

.page_footer a:hover{
    color:rgb(83, 39, 23);
}

.page_footer .container{
    background-color: rgb(186, 146, 108);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
	justify-content: space-around;
    align-items: center;
    margin-top: auto;
    width :100%;
    height:70px;
    position: static;
 }
