body{
    margin:0;
    background: rgb(255, 244, 228) ;
}

.product {
    background: white;
    padding: 10px;
    border-radius: 8px;
    margin: 30px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.left{
    flex:0.6;
    margin:40px;
}
.left img{
    display: block;
}
.right{
    flex: 1.4;
    margin-top: 140px;
}
h1{
    font-size: 42px;
    font-weight: 600;
    margin: 10px;
    color: rgb(186, 146, 108);
}

h3 {
    font-size: 23px;
    color: rgb(186, 146, 108);
    margin-bottom: 25px;
    margin: 10px;
}

img {
    height: 335px;
    width:auto;
    border-radius: 14px;
}

.attributs {
    font-size: 20px;
}

.description {
    font-size: 20px;
}

.prix{
    font-size: 28px;
    font-weight: 600;
    margin: 10px;
    color: #000;
}

.bouton{
    display: inline-block;
    padding: 16px 36px;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background-color: rgb(186, 146, 108);
    color:white;
}

.bouton:hover {
    color:rgb(83, 39, 23);
}
