body{
 font-family: Arial, sans-serif;
    background: rgb(255, 244, 228);
    margin: 0;
    padding: 20px;
}

 h1 {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(186, 146, 108);
}
