body{
    background: rgb(255, 244, 228);
    margin: 0px;
    
}

section{
    text-align: center;
}
h1 {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(186, 146, 108);
}

p{
    font-size:20px ;
}

li{
    font-size: 20px;
    text-decoration: none;
}


@media (max-width: 992px){
    h1{
        font-size: 26px;
    }
}

@media (max-width: 576px){
    h1{
        font-size: 22px;
        margin-bottom: 25px;
    }
}