.page-navbar a{
    color:rgb(119, 70, 52);
    text-decoration: none;
}

.page-navbar a:hover{
    color:rgb(83, 39, 23);
}
.page-navbar .img_logo{
    width:50px;
    height:auto;
}
.page-navbar strong{
    font-size: 30px;
    text-decoration: none;
}
.page-navbar .navbar{
    background-color: rgb(186, 146, 108);
    background-size:cover;
    width:100%;
    height: 70px;
    display: flex;
    justify-content: center;        
 }

.page-navbar nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.page-navbar .btn-panier img{
    width:25px;
    height:auto;
    cursor:pointer;
    margin: 0;
}

.page-navbar .btn-panier{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.page-navbar .panier-text{
    font-size: 15px;
    color: rgb(119, 70, 52);
}

.page-navbar header{
	display: flex;
	justify-content: space-between;
    align-items: center;
    margin-top: auto; 
    width :100%;
    height: 50px;
    position:sticky ;
    top:0;
    left: 0;
    z-index: 1000;
}