* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: rgb(255, 244, 228) ;
    padding: 30px;
}

section {
    background: white;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 30px;
}

h1 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 10px;
    color: rgb(186, 146, 108);
}

#Panier p {
    margin-bottom: 10px;
    font-size: 15px;
}

.article{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-delete {
    background: none;
    border: none;
}

.btn-delete img {
    width: 30px;
    height: auto;
}

#Panier form {
    margin: 20px 0;
}

#Panier label {
    font-size: 15px;
}

#quantite {
    padding: 8px;
    border-radius: 8px;
    border: 1px solid ;    
}

.total-container {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
}

.btn-livraison {
    width: 100%;
    padding: 15px;
    border: none;
    background: black;
    color: white;
    border-radius: 40px;
    font-size: 16px;
}

.btn-livraison:hover {
    background: rgb(51, 51, 51) ;
}

#code-promo {
    margin-top: 25px;
}

#code-promo input {
    padding: 10px;
    width: 65%;
    border-radius: 8px;
    border: 1px solid;
}

#code-promo button {
    padding: 10px 18px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 8px;
}

#code-promo button:hover {
    background: rgb(51, 51, 51);
}

.total-commande span {
    font-weight: bold;
    font-size: 18px;
}

.Moyen-paiement span {
    display: block;
    margin: 20px 0 10px;
    font-weight: bold;
    font-size: 16px;
}

.paiements {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:15px;
    justify-content: center; 
}

.paiements img {
    height: auto;
    width: 40px;
}
