.body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.customer_service {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}